.form{
	position:relative;
	width:500px;
	height:800px;
	padding-left:20px;
	padding-top:15px;
	
	background-color:#e5dfcd;
	border-radius:20px;
	margin:auto;
}

input[type=text]{
	width:470px;
	height:35px;
	font: 14px normal normal uppercase helvetica, arial, serif;
}

/*textarea{
	width: 470px;
	height: 110px;
	font: 14px normal normal uppercase helvetica, arial, serif;
}*/

input[type=submit]{
	position:relative;
	width:150px;
	height:40px;
	border-radius:20px;
	margin-left:150px;
	border:0px;
	background-color:#32A43E;
	font: 14px normal normal uppercase helvetica, arial, serif;
}