body{
    background: url("../images/12.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
}
.row-fluid {    
    padding:10% 20%;   
}
.titulo {
    color: #fff;
}
.control-label {
    color: #fff;
}